extends layout

block content
  div(class='content-container')
    div(class='login-form-container')
        form(method='post' class='form')
            div(class="form-group")
                input(type="text" name='login' class="form-control" placeholder="nazwa logowania")
            div(class="form-group")
                input(type="password" name='password' class="form-control" placeholder="Password")
            button(type="submit" class="btn btn-primary") Zaloguj
