@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* font-family: 'Dancing Script', cursive; */
/* font-family: 'Lato', sans-serif; */
/* font-family: 'Roboto', sans-serif; */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header-all-container {
  width: 100%;
  height: 180px;
  background-color: rgb(5, 33, 46);

}
.header-container {
  position: relative;
  max-width: 1220px;
  margin: 0 auto;
}

.container {
  max-width: 1220px !important;
}

.header-column {
  position: relative;
  height: 130px;
  margin: 1px;
/*   background-color: aquamarine; */
}
.page-title {
  position: absolute;
  left: 20px;
  top: 2px;
  color: rgb(84, 206, 233);
  text-shadow: 2px 2px 3px #3b78fc;
}
.page-subtitle {
  position: absolute;
  left: 170px;
  top: 25px;
  font-weight: bold;
  color: rgb(240, 236, 12);
  text-shadow: 2px 2px 10px #93b3f4;
}

.login-info {
  color: #749cf4;
}

.login-info span {
  color: antiquewhite;
}


.navbar {
  background-color: rgb(5, 33, 46) !important;
  height: 40px;
  z-index: 1000;
}

.collapse.navbar-collapse {
  background-color: rgb(5, 33, 46) !important;
}
.nav-item a {
  padding: 5px;
  color: rgb(232, 241, 241) !important;
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

a.active {
  color: rgb(41, 154, 230) !important;
  font-weight: bold;
}
.content-all-container {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 210px);
  background-color: rgb(246, 255, 255);
}
.content-container {
  position: relative;
  max-width: 1220px;
  margin: 0 auto;
}

/* ############# LOGIN ################ */

.login-form-container {
  position: absolute;
  padding: 10px;
  width: 50%;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(5, 33, 46);
}
.form {
  text-align: right;
}

.footer-all-container {
  position: relative;
  width: 100%;
  height: 30px;
  padding: 3px;
  text-align: center;
  background-color: rgb(5, 33, 46);
}
.footer-all-container p {
  color: white;
}

/* ############## NEWS ################### */

.news-article-container {
  position: relative;
  width: 100%;
  margin: 2px 0;
  padding: 2px;
  border: 1px solid black;
}
.search-container, .text-start {
/*   background-color: rgb(5, 33, 46); */
  border-bottom: 1px solid rgb(209, 203, 203);
  margin-top: 20px;
}
.news-search-form {
  padding: 3px;
  text-align: right;
}

.arrow-link {
  font-size: 1.4em;
  text-decoration: none;
  color: rgb(106, 174, 225);
}

.card-container {
  position: relative;
  width: 300px;
}

.card-title {
  text-shadow: 2px 2px 3px #7fa5f5;
}
.card-data {
  position: absolute;
  right: 5px;
  top: -12px;
  padding: 2px 5px;
  color: aliceblue;
  border: 1px solid rgb(204, 212, 236);
  border-radius: 3px;
  background-color: rgb(5, 33, 46);
}

.card-text {
  font-family: 'Roboto', sans-serif;
  text-align: justify;
}
.card-author {
  border-top: 1px solid rgba(128, 128, 128, 0.386);
  text-align: right;
  padding: 3px;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: bold;
}

.card-footer {
  background-color: transparent;
  text-align: end;
}

/* ############## REGISTER ################### */

.news-columns-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;

}
.register-form-container {
  margin: 20px auto;
  padding: 30px;
  width: 60%;
  background-color: rgb(5, 33, 46);
  
}