extends ../../layout

block content
  div(class='content-container')
    h3 #{title}
    form(method='post' enctype='multipart/form-data')
        div(class='row')
            div(class='col-6')
                div(class="mb-3")
                    label(class="form-label") Login:
                    input(type="text" name='loginName' class="form-control" )
                div(class="mb-3")
                    label(class="form-label") Hasło:
                    input(type="password" name='userPassword' class="form-control")
                div(class="mb-3")
                    label(class="form-label") Imię:
                    input(type="text" name='firstName' class="form-control" )
                div(class="mb-3")
                    label(class="form-label") Nazwisko:
                    input(type="text" name='familyName' class="form-control")
                div(class="mb-3")
                    label(class="form-label") Email:
                    input(type="email" name='userEmail' class="form-control")
                div(class="mb-3")
                    label(class="form-label") Data urodzenia:
                    input(type="date" name='bornDate' class="form-control")
            div(class='col-6')
                div(class='mb-3')
                    label(for="formFile" class="form-label")
                    input(class="form-control" type="file" id="formFile" name="image")
                div(class="mb-3")
                    label(class="form-label") Rola w systemie:
                    input(type="text" name='userRole' class="form-control")
                div(class="mb-3")
                    label(class="form-label") Nazwa firmy:
                    input(type="text" name='userCompany' class="form-control")
                div(class="mb-3")
                    label(class="form-label") NIP:
                    input(type="text" name='userNip' class="form-control")
                div(class="mb-3")
                    label(class="form-label") REGON:
                    input(type="text" name='userRegon' class="form-control")
                div(class="mb-3")
                    label(class="form-label") Adres firmy:
                    input(type="text" name='userAdress' class="form-control")
                div(class="mb-3")
                    label(class="form-label") Miasto:
                    input(type="text" name='userCity' class="form-control")
                div(class="mb-3")
                    label(class="form-label") Kod pocztowy:
                    input(type="text" name='userPostal' class="form-control")
            button(class='btn btn-primary') Dodaj

